<!DOCTYPE html>
<html>
    <head>
        <title>NYC Jobs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='jobs.css') }}>
        <script src="search.js"></script>
    </head>
    <body>
        <div id="header">
        <h1>
            <p>Currently Listed NYC Jobs. Refreshed hourly.</p>
        </h1>
        <h2>
            <p>Jobs list last refreshed: {{updated}}.</p>
            <p>Use with caution! Only includes the most recently listed jobs.</p>
        </h2>
        </div>
        <div id="tablebody">
        <input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search for a job...">

        <ul>
            <table>
            <tr>
            <th>Title</th>
            <th>Agency</th>
            <th>Department</th>
            <th>Permalink</th>
            </tr>
            {% for job in jobs %}
                <tr>
                <td>{{job['title']}}</td> 
                <td> {{job['agency']}}</td>
                <td>{{job['department']}}</td>
                <td><a href={{job['link']}}>{{job['id']}}</a></td>
                </tr>
            {% endfor %}
            </table>
        </ul>
        </div>
        <footer>
            <a href="mailto:daniel.r.burton@gmail.com">daniel.r.burton@gmail.com</a></p>
            <p> <a href="https://github.com/daniel-burton/nyc_job_collector">Check out the scraper on github!</a></p>
        </footer>
    </body>
</html>
